<form name="clientsForm" aria-label="Add client">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Agregar cliente</h2>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="row">
			<div flex="50">
				<md-input-container>
					<label>Usuario</label>
					<input required ng-model="client.username" name="username" ng-disable="isUpdating">
					<div ng-messages="clientsForm.username.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Contraseña</label>
					<input required ng-model="client.password" name="password" type="password">
					<div ng-messages="clientsForm.password.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Nombre</label>
					<input required ng-model="client.name" name="name">
					<div ng-messages="clientsForm.name.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Apellidos</label>
					<input required ng-model="client.lastName" name="lastName">
					<div ng-messages="clientsForm.lastName.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Email</label>
					<input required ng-model="client.email" name="email">
					<div ng-messages="clientsForm.email.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Teléfono</label>
					<input required ng-model="client.phone" name="phone">
					<div ng-messages="clientsForm.phone.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
			</div>
			<div flex="50">
				<md-input-container>
					<label>Calle</label>
					<input required ng-model="client.street" name="street">
					<div ng-messages="clientsForm.street.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Código postal</label>
					<input required ng-model="client.postalCode" name="postalCode">
					<div ng-messages="clientsForm.postalCode.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Ciudad</label>
					<input required ng-model="client.city" name="city">
					<div ng-messages="clientsForm.city.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>País</label>
					<md-select required ng-model="client.idCountry" name="idCountry" ng-change="contryChange()">
						<md-option ng-repeat="country in countries" ng-value="country.idCountry">{{country.name}}</md-option>
					</md-select>
					<div ng-messages="clientsForm.idCountry.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Estado</label>
					<md-select required ng-model="client.idState" name="idState" ng-disabled="states.length === 0">
						<md-option ng-repeat="state in states" ng-value="state.idState">{{state.name}}</md-option>
					</md-select>
					<div ng-messages="clientsForm.idState.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-warn" ng-click="close()">Cerrar</md-button>
		<md-button class="md-primary" ng-disabled="clientsForm.$invalid" ng-if="!isUpdating" ng-click="add()">Crear</md-button>
		<md-button class="md-primary" ng-disabled="clientsForm.$invalid" ng-if="isUpdating" ng-click="add()">Actualizar</md-button>
	</md-dialog-actions>
</form>