<div ng-controller="ClientsCtrl">
	<table>
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Contraseña</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Compañia</th>
				<th>Email</th>
				<th>Teléfono</th>
				<th>Calle</th>
				<th>Código postal</th>
				<th>Ciudad</th>
				<th>Estado</th>
				<th>País</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="client in clients">
				<td>{{client.username}}</td>
				<td>{{client.password}}</td>
				<td>{{client.name}}</td>
				<td>{{client.apellidos}}</td>
				<td>{{client.company}}</td>
				<td>{{client.email}}</td>
				<td>{{client.phone}}</td>
				<td>{{client.street}}</td>
				<td>{{client.pc}}</td>
				<td>{{client.city}}</td>
				<td>{{client.state}}</td>
				<td>{{client.country}}</td>
				<td>
					<md-menu>
						<md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							<md-icon class="fa fa-ellipsis-h"></md-icon>
						</md-button>
						<md-menu-content>
							<md-menu-item>
								<md-button ng-click="edit(client)">Editar</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="delete(client)">Borrar</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</td>
			</tr>
		</tbody>
	</table>
	<md-button class="md-fab md-primary" aria-label="Use Android" ng-click="add()">
		<i class="fa fa-plus"></i>
	</md-button>
</div>