<div ng-controller="LayoutCtrl" layout-fill>
	<md-content>
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidebar()">
					<md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
				</md-button>

				<h2 flex md-truncate>Admin de la tienda</h2>
			</div>
		</md-toolbar>

		<md-sidenav class="md-sidenav-left" md-component-id="navigationLeft" md-whiteframe="4">
			<ul>
				<li><a ui-sref="webapp.dashboard" ui-sref-active="activeRoute">Inicio</a></li>
				<li><a ui-sref="webapp.clients" ui-sref-active="activeRoute">Clientes</a></li>
				<li><a ui-sref="webapp.purchases" ui-sref-active="activeRoute">Ordenes</a></li>
				<li><a ui-sref="webapp.countries" ui-sref-active="activeRoute">Países</a></li>
				<li><a ui-sref="webapp.products" ui-sref-active="activeRoute">Productos</a></li>
				<li><a ui-sref="webapp.providers" ui-sref-active="activeRoute">Proveedores</a></li>
				<li><a ui-sref="webapp.categories" ui-sref-active="activeRoute">Categorias</a></li>
				<li><a ui-sref="auth.auth" ui-sref-active="activeRoute">Cerrar sessión</a></li>
			</ul>
        </md-sidenav>

    	<div ui-view class="page"></div>
    </md-content>
</div>