<form name="providersForm" aria-label="Add provider">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 ng-if="!isUpdating">Agregar proveedor</h2>
			<h2 ng-if="isUpdating">Actualizar proveedor</h2>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="row">
			<div flex="50">
				<md-input-container>
					<label>Nombre</label>
					<input required ng-model="provider.name" name="name" type="name">
					<div ng-messages="providersForm.name.$error" role="alert" multiple>
						<div ng-message="required">Esto es obligatorio.</div>
					</div>
				</md-input-container>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-warn" ng-click="close()">Cerrar</md-button>
		<md-button class="md-primary" ng-disabled="providersForm.$invalid" ng-if="!isUpdating" ng-click="add()">Crear</md-button>
		<md-button class="md-primary" ng-disabled="providersForm.$invalid" ng-if="isUpdating" ng-click="add()">Actualizar</md-button>
	</md-dialog-actions>
</form>